*{
    margin: 0%;
    padding: 0%; 
}
@import url(./variables/_colores.scss);
@import url(./variables/extend.scss);
@import url(./secciones/_header.scss);
nav{
    background-color: #97a8bfff;
}
header{
    width: 100%;
}
footer{
    padding: 30px;
    float: center;
    background-color: #344966
}
.tips{ 
  @extend %estiloTruco;
}
